<h1>Board</h1>
<h2>{{board}}</h2>
<br>
<h2>All uses</h2>
<h3>Total: {{numUses}}</h3>

{{#ifCond board '===' '14530'}}
<pre>
  <p><strong>Trip Duration     Start Time	     Stop Time     	Starting Station       End Station	     Board ID</strong></p>
  <ul>
    <li>	379	9/1/2016 06:43:24	9/1/2016 06:49:44	2 Ave & 9 St	Henry St & W 9 St	14530	</li>
    <li>	23728	9/2/2016 11:05:59	9/2/2016 17:41:27	Henry St & W 9 St	Columbia St & W 9 St	14530	</li>
  </ul>
</pre>
{{/ifCond}}

{{#ifCond board '===' '14531'}}
<pre>
  <p><strong>Trip Duration     Start Time	     Stop Time     	Starting Station       End Station	     Board ID</strong></p>
  <ul>
    <li>	1026	9/2/2016 12:06:45	9/2/2016 12:23:51	5 Ave & E 29 St	Broadway & W 53 St	14531	</li>
    <li>	1447	9/2/2016 12:30:34	9/2/2016 12:54:42	Broadway & W 53 St	W 20 St & 11 Ave	14531	</li>
    <li>	1939	9/1/2016 19:09:23	9/1/2016 19:41:42	Cathedral Pkwy & Broadway	W 4 St & 7 Ave S	14531	</li>
    <li>	379	9/2/2016 11:06:56	9/2/2016 11:13:15	E 17 St & Broadway	5 Ave & E 29 St	14531	</li>
    <li>	1697	9/2/2016 12:57:23	9/2/2016 13:25:41	W 20 St & 11 Ave	Washington St & Gansevoort St	14531	</li>
    <li>	368	9/2/2016 08:35:03	9/2/2016 08:41:12	W 4 St & 7 Ave S	E 17 St & Broadway	14531	</li>
  </ul>
</pre>
{{/ifCond}}

{{#ifCond board '===' '14532'}}
<pre>
  <p><strong>Trip Duration     Start Time	     Stop Time     	Starting Station       End Station	     Board ID</strong></p>
  <ul>
    <li>	712	9/2/2016 11:32:09	9/2/2016 11:44:01	1 Ave & E 30 St	W 41 St & 8 Ave	14532	</li>
    <li>	1722	9/2/2016 14:24:54	9/2/2016 14:53:37	1 Ave & E 44 St	South St & Whitehall St	14532	</li>
    <li>	273	9/2/2016 12:06:35	9/2/2016 12:11:08	Broadway & W 53 St	E 56 St & Madison Ave	14532	</li>
    <li>	1064	9/2/2016 08:19:55	9/2/2016 08:37:40	E 3 St & 1 Ave	Pershing Square North	14532	</li>
    <li>	334	9/2/2016 09:03:54	9/2/2016 09:09:29	E 32 St & Park Ave	W 31 St & 7 Ave	14532	</li>
    <li>	982	9/2/2016 12:17:12	9/2/2016 12:33:34	E 56 St & Madison Ave	1 Ave & E 44 St	14532	</li>
    <li>	615	9/2/2016 08:02:14	9/2/2016 08:12:29	Lexington Ave & E 24 St	E 3 St & 1 Ave	14532	</li>
    <li>	304	9/2/2016 08:38:19	9/2/2016 08:43:23	Pershing Square North	E 32 St & Park Ave	14532	</li>
    <li>	760	9/2/2016 09:11:52	9/2/2016 09:24:32	W 31 St & 7 Ave	1 Ave & E 30 St	14532	</li>
    <li>	619	9/2/2016 11:50:12	9/2/2016 12:00:31	W 41 St & 8 Ave	Broadway & W 53 St	14532	</li>
  </ul>
</pre>
{{/ifCond}}

{{#ifCond board '===' '14533'}}
<pre>
  <p><strong>Trip Duration     Start Time	     Stop Time     	Starting Station       End Station	     Board ID</strong></p>
  <ul>
    <li>	395	9/1/2016 08:29:37	9/1/2016 08:36:13	E 11 St & 1 Ave	E 17 St & Broadway	14533	</li>
    <li>	190	9/1/2016 09:16:40	9/1/2016 09:19:51	E 17 St & Broadway	W 18 St & 6 Ave	14533	</li>
    <li>	827	9/1/2016 11:34:11	9/1/2016 11:47:59	W 18 St & 6 Ave	E 13 St & Avenue A	14533	</li>
  </ul>
</pre>
{{/ifCond}}

{{#ifCond board '===' '14535'}}
<pre>
  <p><strong>Trip Duration     Start Time	     Stop Time     	Starting Station       End Station	     Board ID</strong></p>
  <ul>
    <li>	1161	9/2/2016 12:51:22	9/2/2016 13:10:43	Broadway & Battery Pl	W 14 St & The High Line	14535	</li>
    <li>	2252	9/1/2016 16:35:35	9/1/2016 17:13:08	Lafayette Ave & St James Pl	South St & Whitehall St	14535	</li>
    <li>	419	9/2/2016 08:57:13	9/2/2016 09:04:13	Market St & Cherry St	Old Slip & Front St	14535	</li>
    <li>	656	9/1/2016 11:44:49	9/1/2016 11:55:46	Prospect Pl & 6 Ave	Lafayette Ave & St James Pl	14535	</li>
    <li>	1530	9/2/2016 14:02:53	9/2/2016 14:28:23	Riverside Blvd & W 67 St	5 Ave & E 78 St	14535	</li>
    <li>	660	9/1/2016 17:25:23	9/1/2016 17:36:23	South St & Whitehall St	Market St & Cherry St	14535	</li>
    <li>	1488	9/2/2016 13:23:51	9/2/2016 13:48:40	W 14 St & The High Line	Riverside Blvd & W 67 St	14535	</li>
  </ul>
</pre>
{{/ifCond}}
