<img src="/images/logo">
<div id="stations">
  <p>* Display station options here to choose from *</p>
  <h3> or </h3>
  <form method="GET" action="/stations">
    Enter location: <input type="text">
    <input type="submit">
  </form>
</div>
<div id="board">
  <p>* Display board options here to choose from *</p>
  <h3> or </h3>
  <form method="GET" action="/boards">
    Enter board: <input type="text">
    <input type="submit">
  </form>
</div>
