<h1>{{heading}}</h1>
<h2>{{station}}</h2>
<br>
<h2>All routes</h2>
<h3>Total: {{numRoutes}}</h3>

{{#ifCond station '===' '1 Ave & E 16 St'}}
<pre>
  <p><strong>Trip Duration     Start Time	     Stop Time     	End Station	     Board ID</strong></p>
  <ul>
    <li>179	9/2/2016 10:57:39	9/2/2016 11:00:38	14 St & 5 Ave	25504</li>
    <li>354	9/1/2016 02:56:14	9/1/2016 03:02:08	14 St & 7 Ave	24992</li>
    <li>258	9/1/2016 12:52:01	9/1/2016 12:56:19	5 Ave & 3 St	25449</li>
    <li>201	9/1/2016 18:36:09	9/1/2016 18:39:31	5 St & 6 Ave	23843</li>
    <li>1740	9/2/2016 12:56:14	9/2/2016 13:25:15	Columbia St & Kane St	25626</li>
    <li>516	9/1/2016 09:25:14	9/1/2016 09:33:51	Douglass St & 4 Ave	16420</li>
    <li>805	9/1/2016 11:30:34	9/1/2016 11:43:59	Henry St & Bay St	20657</li>
    <li>1458	9/1/2016 13:42:17	9/1/2016 14:06:35	Kingston Ave & Herkimer St	26958</li>
    <li>1316	9/1/2016 16:26:49	9/1/2016 16:48:45	Lawrence St & Willoughby St	20657</li>
    <li>302	9/1/2016 22:24:46	9/1/2016 22:29:48	Prospect Park West & 8 St	21565</li>
    <li>2569	9/1/2016 21:06:46	9/1/2016 21:49:36	St Marks Pl & 1 Ave	24976</li>
    <li>1872	9/1/2016 19:21:13	9/1/2016 19:52:26	Suffolk St & Stanton St	22842</li>
  </ul>
</pre>

{{/ifCond}}

{{#ifCond station '===' '10 St & 5 Ave'}}
<pre>
  <p><strong>Trip Duration     Start Time	     Stop Time     	End Station	     Board ID</strong></p>
  <ul>
    <li>179	9/2/2016 10:57:39	9/2/2016 11:00:38	14 St & 5 Ave	25504</li>
    <li>354	9/1/2016 02:56:14	9/1/2016 03:02:08	14 St & 7 Ave	24992</li>
    <li>258	9/1/2016 12:52:01	9/1/2016 12:56:19	5 Ave & 3 St	25449</li>
    <li>201	9/1/2016 18:36:09	9/1/2016 18:39:31	5 St & 6 Ave	23843</li>
    <li>1740	9/2/2016 12:56:14	9/2/2016 13:25:15	Columbia St & Kane St	25626</li>
    <li>516	9/1/2016 09:25:14	9/1/2016 09:33:51	Douglass St & 4 Ave	16420</li>
    <li>805	9/1/2016 11:30:34	9/1/2016 11:43:59	Henry St & Bay St	20657</li>
    <li>1458	9/1/2016 13:42:17	9/1/2016 14:06:35	Kingston Ave & Herkimer St	26958</li>
    <li>1316	9/1/2016 16:26:49	9/1/2016 16:48:45	Lawrence St & Willoughby St	20657</li>
    <li>302	9/1/2016 22:24:46	9/1/2016 22:29:48	Prospect Park West & 8 St	21565</li>
    <li>2569	9/1/2016 21:06:46	9/1/2016 21:49:36	St Marks Pl & 1 Ave	24976</li>
    <li>1872	9/1/2016 19:21:13	9/1/2016 19:52:26	Suffolk St & Stanton St	22842</li>
  </ul>
</pre>
{{/ifCond}}

{{#ifCond station '===' '6 Ave & Broome St'}}
<pre>
  <p><strong>Trip Duration     Start Time	     Stop Time     	Starting Station	     Board ID</strong></p>
  <ul>
    <li>2487	9/1/2016 11:35:21	9/1/2016 12:16:49	11 Ave & W 27 St	23074</li>
    <li>914	9/2/2016 07:49:40	9/2/2016 08:04:54	12 Ave & W 40 St	26556</li>
    <li>1280	9/2/2016 10:15:33	9/2/2016 10:36:53	12 Ave & W 40 St	18051</li>
    <li>1385	9/1/2016 12:11:20	9/1/2016 12:34:25	6 Ave & Broome St	17818</li>
    <li>912	9/1/2016 20:42:55	9/1/2016 20:58:08	8 Ave & W 31 St	25595</li>
    <li>550	9/1/2016 13:26:37	9/1/2016 13:35:47	9 Ave & W 18 St	25609</li>
    <li>470	9/2/2016 06:35:35	9/2/2016 06:43:25	9 Ave & W 18 St	25255</li>
    <li>718	9/1/2016 16:26:04	9/1/2016 16:38:03	Allen St & Hester St	19716</li>
    <li>580	9/2/2016 14:30:20	9/2/2016 14:40:01	Allen St & Hester St	23345</li>
    <li>528	9/1/2016 10:58:38	9/1/2016 11:07:26	Allen St & Rivington St	26697</li>
    <li>488	9/1/2016 19:13:05	9/1/2016 19:21:14	Allen St & Rivington St	21971</li>
    <li>451	9/2/2016 08:49:59	9/2/2016 08:57:30	Allen St & Rivington St	22866</li>
    <li>777	9/1/2016 08:48:41	9/1/2016 09:01:39	Allen St & Stanton St	15785</li>
    <li>621	9/1/2016 16:42:34	9/1/2016 16:52:55	Bank St & Washington St	24060</li>
    <li>333	9/2/2016 09:32:35	9/2/2016 09:38:08	Barrow St & Hudson St	25044</li>
    <li>414	9/1/2016 09:15:15	9/1/2016 09:22:10	Bayard St & Baxter St	25211</li>
    <li>1116	9/1/2016 06:04:25	9/1/2016 06:23:02	Bond St & Fulton St	23757</li>
    <li>964	9/1/2016 17:07:28	9/1/2016 17:23:32	Broadway & Battery Pl	23072</li>
    <li>1709	9/1/2016 18:11:08	9/1/2016 18:39:37	Broadway & Battery Pl	20955</li>
    <li>1236	9/1/2016 07:48:46	9/1/2016 08:09:23	Broadway & Berry St	20276</li>
    <li>570	9/2/2016 09:24:32	9/2/2016 09:34:02	Broadway & E 14 St	24945</li>
    <li>1421	9/1/2016 17:59:24	9/1/2016 18:23:05	Broadway & E 22 St	15782</li>
    <li>1388	9/1/2016 17:59:36	9/1/2016 18:22:44	Broadway & E 22 St	19917</li>
    <li>756	9/1/2016 13:29:31	9/1/2016 13:42:08	Broadway & W 24 St	26524</li>
    <li>879	9/1/2016 18:10:36	9/1/2016 18:25:16	Broadway & W 24 St	21968</li>
    <li>2126	9/1/2016 14:13:39	9/1/2016 14:49:06	Bus Slip & State St	18440</li>
    <li>837	9/2/2016 14:27:16	9/2/2016 14:41:14	Centre St & Chambers St	25684</li>
    <li>830	9/2/2016 14:27:23	9/2/2016 14:41:14	Centre St & Chambers St	25802</li>
    <li>501	9/1/2016 17:44:43	9/1/2016 17:53:05	Centre St & Worth St	20034</li>
    <li>526	9/1/2016 08:13:47	9/1/2016 08:22:34	Christopher St & Greenwich St	16817</li>
    <li>469	9/1/2016 09:02:57	9/1/2016 09:10:46	Christopher St & Greenwich St	19073</li>
    <li>320	9/1/2016 09:22:19	9/1/2016 09:27:40	Christopher St & Greenwich St	26024</li>
    <li>330	9/1/2016 16:56:12	9/1/2016 17:01:43	Christopher St & Greenwich St	23930</li>
    <li>351	9/2/2016 08:04:50	9/2/2016 08:10:42	Christopher St & Greenwich St	25342</li>
    <li>541	9/2/2016 08:57:49	9/2/2016 09:06:50	Christopher St & Greenwich St	26846</li>
    <li>1322	9/1/2016 08:41:37	9/1/2016 09:03:40	Clark St & Henry St	18539</li>
    <li>334	9/1/2016 16:36:26	9/1/2016 16:42:00	Cleveland Pl & Spring St	20545</li>
    <li>777	9/2/2016 09:21:42	9/2/2016 09:34:39	Cliff St & Fulton St	26825</li>
    <li>1417	9/2/2016 12:10:05	9/2/2016 12:33:42	Clinton St & Grand St	16008</li>
    <li>801	9/2/2016 09:54:47	9/2/2016 10:08:09	Columbia St & Rivington St	18162</li>
    <li>606	9/2/2016 09:56:46	9/2/2016 10:06:52	Cooper Square & E 7 St	22264</li>
    <li>2395	9/1/2016 06:50:05	9/1/2016 07:30:01	DeKalb Ave & Hudson Ave	22062</li>
    <li>596	9/1/2016 18:01:55	9/1/2016 18:11:51	Division St & Bowery	26745</li>
    <li>472	9/2/2016 07:59:20	9/2/2016 08:07:13	E 11 St & 1 Ave	20538</li>
    <li>512	9/1/2016 18:49:35	9/1/2016 18:58:08	E 11 St & Broadway	24894</li>
    <li>752	9/2/2016 13:25:41	9/2/2016 13:38:13	E 12 St & 3 Ave	25869</li>
    <li>1387	9/2/2016 14:29:35	9/2/2016 14:52:43	E 17 St & Broadway	14993</li>
    <li>685	9/2/2016 09:05:31	9/2/2016 09:16:57	E 2 St & Avenue B	17185</li>
    <li>606	9/1/2016 08:52:36	9/1/2016 09:02:43	E 2 St & Avenue C	18008</li>
    <li>758	9/1/2016 16:37:48	9/1/2016 16:50:27	E 2 St & Avenue C	18743</li>
    <li>1571	9/1/2016 10:53:58	9/1/2016 11:20:10	E 25 St & 2 Ave	23580</li>
    <li>2256	9/2/2016 12:32:00	9/2/2016 13:09:36	E 33 St & 5 Ave	26580</li>
    <li>1190	9/2/2016 08:15:21	9/2/2016 08:35:12	E 47 St & Park Ave	25433</li>
    <li>847	9/1/2016 08:03:20	9/1/2016 08:17:27	E 5 St & Avenue C	15566</li>
    <li>642	9/2/2016 09:46:35	9/2/2016 09:57:18	E 7 St & Avenue A	22300</li>
    <li>368	9/1/2016 13:07:50	9/1/2016 13:13:58	Elizabeth St & Hester St	16625</li>
    <li>545	9/1/2016 18:27:21	9/1/2016 18:36:27	Forsyth St & Broome St	22219</li>
    <li>626	9/2/2016 10:33:16	9/2/2016 10:43:42	Forsyth St & Broome St	19021</li>
    <li>282	9/1/2016 18:03:15	9/1/2016 18:07:58	Franklin St & W Broadway	19648</li>
    <li>462	9/1/2016 10:46:53	9/1/2016 10:54:35	Fulton St & Broadway	19913</li>
    <li>1250	9/2/2016 07:29:53	9/2/2016 07:50:44	Fulton St & Rockwell Pl	22454</li>
    <li>1770	9/1/2016 12:45:49	9/1/2016 13:15:20	Fulton St & Washington Ave	26821</li>
    <li>620	9/2/2016 14:09:34	9/2/2016 14:19:54	Fulton St & William St	22621</li>
    <li>1695	9/2/2016 11:57:57	9/2/2016 12:26:13	Grand St & Havemeyer St	26732</li>
    <li>619	9/1/2016 19:25:16	9/1/2016 19:35:36	Great Jones St	18104</li>
    <li>399	9/2/2016 10:26:15	9/2/2016 10:32:55	Greenwich Ave & 8 Ave	16202</li>
    <li>666	9/1/2016 08:15:54	9/1/2016 08:27:01	Greenwich Ave & Charles St	26397</li>
    <li>443	9/1/2016 20:40:55	9/1/2016 20:48:19	Greenwich Ave & Charles St	17929</li>
    <li>538	9/1/2016 06:15:30	9/1/2016 06:24:28	Greenwich St & North Moore St	20076</li>
    <li>336	9/2/2016 06:45:58	9/2/2016 06:51:35	Greenwich St & North Moore St	23314</li>
    <li>402	9/2/2016 14:33:19	9/2/2016 14:40:01	Howard St & Centre St	26807</li>
    <li>1898	9/2/2016 09:13:22	9/2/2016 09:45:01	India St & Manhattan Ave	25386</li>
    <li>1378	9/2/2016 10:05:08	9/2/2016 10:28:06	Lafayette Ave & St James Pl	25678</li>
    <li>334	9/1/2016 10:56:09	9/1/2016 11:01:44	Lafayette St & Jersey St	24162</li>
    <li>677	9/1/2016 21:34:08	9/1/2016 21:45:26	Lafayette St & Jersey St	22894</li>
    <li>240	9/2/2016 09:12:52	9/2/2016 09:16:52	Laight St & Hudson St	22107</li>
    <li>299	9/1/2016 18:11:08	9/1/2016 18:16:08	Leonard St & Church St	16684</li>
    <li>1298	9/2/2016 14:15:17	9/2/2016 14:36:55	Lexington Ave & E 24 St	18299</li>
    <li>1021	9/1/2016 19:07:42	9/1/2016 19:24:44	Lexington Ave & E 29 St	15785</li>
    <li>930	9/2/2016 12:11:34	9/2/2016 12:27:04	Lispenard St & Broadway	14706</li>
    <li>942	9/2/2016 12:11:47	9/2/2016 12:27:30	Lispenard St & Broadway	21348</li>
    <li>953	9/1/2016 17:45:35	9/1/2016 18:01:28	Market St & Cherry St	26897</li>
    <li>294	9/1/2016 00:38:03	9/1/2016 00:42:57	Mercer St & Bleecker St	15345</li>
    <li>161	9/2/2016 08:34:25	9/2/2016 08:37:07	Mercer St & Spring St	20373</li>
    <li>306	9/1/2016 09:42:02	9/1/2016 09:47:09	Mott St & Prince St	16338</li>
    <li>797	9/1/2016 07:14:38	9/1/2016 07:27:56	Penn Station Valet	17321</li>
    <li>937	9/2/2016 08:05:22	9/2/2016 08:20:59	Penn Station Valet	26113</li>
    <li>775	9/2/2016 08:14:33	9/2/2016 08:27:28	Penn Station Valet	21235</li>
    <li>1240	9/2/2016 08:30:42	9/2/2016 08:51:22	Penn Station Valet	24873</li>
    <li>393	9/2/2016 06:59:04	9/2/2016 07:05:38	Perry St & Bleecker St	15288</li>
    <li>428	9/2/2016 11:56:25	9/2/2016 12:03:33	Perry St & Bleecker St	17302</li>
    <li>726	9/2/2016 08:06:15	9/2/2016 08:18:22	Pershing Square South	22515</li>
    <li>690	9/1/2016 11:29:03	9/1/2016 11:40:34	Pitt St & Stanton St	17818</li>
    <li>1143	9/2/2016 10:33:02	9/2/2016 10:52:05	Pitt St & Stanton St	15922</li>
    <li>1664	9/2/2016 13:21:04	9/2/2016 13:48:49	Riverside Blvd & W 67 St	14583</li>
    <li>411	9/2/2016 01:44:21	9/2/2016 01:51:13	Rivington St & Chrystie St	17377</li>
    <li>848	9/2/2016 12:30:41	9/2/2016 12:44:49	Spruce St & Nassau St	20751</li>
    <li>801	9/2/2016 12:31:25	9/2/2016 12:44:46	Spruce St & Nassau St	21096</li>
    <li>506	9/2/2016 14:11:28	9/2/2016 14:19:54	Spruce St & Nassau St	15459</li>
    <li>891	9/1/2016 20:53:36	9/1/2016 21:08:28	St Marks Pl & 1 Ave	23800</li>
    <li>691	9/1/2016 20:03:50	9/1/2016 20:15:21	St Marks Pl & 2 Ave	26567</li>
    <li>1246	9/2/2016 07:43:04	9/2/2016 08:03:50	State St & Smith St	22062</li>
    <li>774	9/1/2016 20:05:53	9/1/2016 20:18:48	University Pl & E 14 St	20878</li>
    <li>640	9/2/2016 13:40:47	9/2/2016 13:51:27	University Pl & E 14 St	26487</li>
    <li>620	9/2/2016 12:26:56	9/2/2016 12:37:17	University Pl & E 8 St	23031</li>
    <li>627	9/2/2016 12:26:57	9/2/2016 12:37:25	University Pl & E 8 St	15809</li>
    <li>529	9/1/2016 16:57:54	9/1/2016 17:06:43	Vesey Pl & River Terrace	22112</li>
    <li>1553	9/1/2016 21:17:55	9/1/2016 21:43:49	W 11 St & 6 Ave	16997</li>
    <li>451	9/1/2016 13:23:11	9/1/2016 13:30:42	W 13 St & 5 Ave	24130</li>
    <li>1218	9/1/2016 17:39:22	9/1/2016 17:59:40	W 13 St & Hudson St	26488</li>
    <li>1220	9/1/2016 17:39:54	9/1/2016 18:00:14	W 13 St & Hudson St	17397</li>
    <li>376	9/2/2016 12:47:22	9/2/2016 12:53:38	W 13 St & Hudson St	22414</li>
    <li>465	9/1/2016 06:31:21	9/1/2016 06:39:07	W 15 St & 7 Ave	25320</li>
    <li>493	9/1/2016 21:08:39	9/1/2016 21:16:52	W 15 St & 7 Ave	23857</li>
    <li>379	9/2/2016 06:22:25	9/2/2016 06:28:45	W 15 St & 7 Ave	22107</li>
    <li>883	9/1/2016 11:25:12	9/1/2016 11:39:56	W 16 St & The High Line	18373</li>
    <li>831	9/1/2016 18:34:33	9/1/2016 18:48:24	W 20 St & 11 Ave	18721</li>
    <li>1253	9/1/2016 18:57:45	9/1/2016 19:18:38	W 20 St & 11 Ave	20637</li>
    <li>755	9/1/2016 08:11:40	9/1/2016 08:24:16	W 20 St & 7 Ave	21035</li>
    <li>540	9/1/2016 18:57:50	9/1/2016 19:06:50	W 20 St & 7 Ave	24736</li>
    <li>891	9/2/2016 01:05:02	9/2/2016 01:19:54	W 20 St & 7 Ave	16331</li>
    <li>881	9/2/2016 01:05:13	9/2/2016 01:19:55	W 20 St & 7 Ave	20702</li>
    <li>1372	9/2/2016 09:43:41	9/2/2016 10:06:34	W 20 St & 7 Ave	20116</li>
    <li>512	9/1/2016 06:07:19	9/1/2016 06:15:52	W 20 St & 8 Ave	25846</li>
    <li>763	9/2/2016 12:57:58	9/2/2016 13:10:42	W 21 St & 6 Ave	18883</li>
    <li>924	9/1/2016 06:34:45	9/1/2016 06:50:09	W 22 St & 10 Ave	16737</li>
    <li>898	9/1/2016 20:20:31	9/1/2016 20:35:29	W 22 St & 10 Ave	26446</li>
    <li>1824	9/2/2016 13:54:04	9/2/2016 14:24:28	W 22 St & 10 Ave	25833</li>
    <li>1809	9/2/2016 13:54:25	9/2/2016 14:24:35	W 22 St & 10 Ave	24329</li>
    <li>1804	9/2/2016 13:54:26	9/2/2016 14:24:30	W 22 St & 10 Ave	25252</li>
    <li>532	9/1/2016 19:31:22	9/1/2016 19:40:15	W 24 St & 7 Ave	19777</li>
    <li>1000	9/2/2016 08:49:01	9/2/2016 09:05:41	W 27 St & 10 Ave	25211</li>
    <li>757	9/2/2016 12:56:38	9/2/2016 13:09:16	W 27 St & 7 Ave	19673</li>
    <li>1100	9/1/2016 05:56:08	9/1/2016 06:14:28	W 39 St & 9 Ave	22541</li>
    <li>1350	9/2/2016 05:55:29	9/2/2016 06:17:59	W 39 St & 9 Ave	22275</li>
    <li>1181	9/2/2016 08:36:41	9/2/2016 08:56:22	W 39 St & 9 Ave	25174</li>
    <li>1395	9/1/2016 13:25:09	9/1/2016 13:48:24	W 52 St & 9 Ave	21087</li>
    <li>1607	9/1/2016 18:28:54	9/1/2016 18:55:42	W 63 St & Broadway	26746</li>
    <li>1905	9/1/2016 17:27:50	9/1/2016 17:59:35	W 92 St & Broadway	23234</li>
    <li>303	9/1/2016 13:37:35	9/1/2016 13:42:38	Washington Pl & 6 Ave	17799</li>
    <li>385	9/2/2016 10:56:07	9/2/2016 11:02:33	Washington Pl & 6 Ave	19172</li>
    <li>1133	9/2/2016 08:40:02	9/2/2016 08:58:56	Water - Whitehall Plaza	19094</li>
    <li>1250	9/2/2016 14:41:55	9/2/2016 15:02:46	Water - Whitehall Plaza	25120</li>
    <li>459	9/1/2016 17:19:37	9/1/2016 17:27:17	West St & Chambers St	17088</li>
    <li>526	9/2/2016 12:36:01	9/2/2016 12:44:48	West St & Chambers St	18158</li>
    <li>594	9/2/2016 13:51:58	9/2/2016 14:01:52	William St & Pine St	23378</li>
  </ul>
</pre>
{{/ifCond}}

{{#ifCond station '===' 'Division St & Bowery'}}
<pre>
  <p><strong>Trip Duration     Start Time	     Stop Time     	Starting Station	     Board ID</strong></p>
  <ul>
    <li>	1872	9/1/2016 17:18:16	9/1/2016 17:49:29	11 Ave & W 41 St	18335	</li>
<li>	2370	9/1/2016 22:32:17	9/1/2016 23:11:47	8 Ave & W 33 St	17753	</li>
<li>	187	9/1/2016 12:04:36	9/1/2016 12:07:44	Allen St & Hester St	25722	</li>
<li>	524	9/1/2016 17:54:10	9/1/2016 18:02:55	Allen St & Hester St	26710	</li>
<li>	568	9/1/2016 11:12:28	9/1/2016 11:21:56	Allen St & Rivington St	26404	</li>
<li>	703	9/1/2016 07:45:36	9/1/2016 07:57:19	Avenue D & E 3 St	16973	</li>
<li>	702	9/2/2016 11:41:11	9/2/2016 11:52:54	Avenue D & E 3 St	16883	</li>
<li>	683	9/2/2016 12:31:21	9/2/2016 12:42:45	Avenue D & E 3 St	25290	</li>
<li>	697	9/1/2016 16:57:48	9/1/2016 17:09:26	Barclay St & Church St	26148	</li>
<li>	440	9/1/2016 12:36:15	9/1/2016 12:43:36	Bialystoker Pl & Delancey St	22728	</li>
<li>	1727	9/2/2016 14:34:31	9/2/2016 15:03:19	Bond St & Schermerhorn St	23496	</li>
<li>	480	9/1/2016 03:27:00	9/1/2016 03:35:01	Broad St & Bridge St	14670	</li>
<li>	1001	9/2/2016 09:50:46	9/2/2016 10:07:28	Broadway & E 22 St	23979	</li>
<li>	206	9/1/2016 10:18:36	9/1/2016 10:22:02	Canal St & Rutgers St	19731	</li>
<li>	339	9/1/2016 12:37:57	9/1/2016 12:43:36	Canal St & Rutgers St	15876	</li>
<li>	165	9/1/2016 13:16:19	9/1/2016 13:19:04	Canal St & Rutgers St	22538	</li>
<li>	808	9/1/2016 13:23:28	9/1/2016 13:36:57	Canal St & Rutgers St	25532	</li>
<li>	216	9/2/2016 08:53:11	9/2/2016 08:56:47	Canal St & Rutgers St	23925	</li>
<li>	221	9/2/2016 10:18:29	9/2/2016 10:22:10	Canal St & Rutgers St	15901	</li>
<li>	260	9/2/2016 10:39:10	9/2/2016 10:43:30	Canal St & Rutgers St	14743	</li>
<li>	222	9/2/2016 12:55:16	9/2/2016 12:58:58	Canal St & Rutgers St	22796	</li>
<li>	368	9/2/2016 14:17:22	9/2/2016 14:23:31	Canal St & Rutgers St	18792	</li>
<li>	1132	9/1/2016 15:56:09	9/1/2016 16:15:01	Carmine St & 6 Ave	16192	</li>
<li>	2045	9/1/2016 18:53:26	9/1/2016 19:27:32	Carmine St & 6 Ave	26345	</li>
<li>	246	9/1/2016 08:51:29	9/1/2016 08:55:36	Catherine St & Monroe St	20992	</li>
<li>	345	9/1/2016 11:45:01	9/1/2016 11:50:47	Clinton St & Grand St	23721	</li>
<li>	279	9/1/2016 20:19:01	9/1/2016 20:23:40	Clinton St & Grand St	26148	</li>
<li>	279	9/1/2016 20:19:01	9/1/2016 20:23:41	Clinton St & Grand St	23603	</li>
<li>	356	9/2/2016 08:42:31	9/2/2016 08:48:28	Clinton St & Grand St	23400	</li>
<li>	504	9/2/2016 10:37:10	9/2/2016 10:45:35	Clinton St & Grand St	22098	</li>
<li>	571	9/1/2016 09:56:52	9/1/2016 10:06:23	Columbia St & Rivington St	15093	</li>
<li>	739	9/1/2016 15:58:30	9/1/2016 16:10:50	Columbia St & Rivington St	24263	</li>
<li>	630	9/2/2016 07:37:53	9/2/2016 07:48:24	Columbia St & Rivington St	23890	</li>
<li>	661	9/1/2016 22:13:30	9/1/2016 22:24:32	Cooper Square & E 7 St	26059	</li>
<li>	758	9/2/2016 11:41:33	9/2/2016 11:54:11	Cooper Square & E 7 St	25045	</li>
<li>	718	9/2/2016 11:41:59	9/2/2016 11:53:58	Cooper Square & E 7 St	22637	</li>
<li>	1264	9/1/2016 19:34:36	9/1/2016 19:55:41	Division St & Bowery	15648	</li>
<li>	1806	9/1/2016 22:35:55	9/1/2016 23:06:01	Division St & Bowery	16338	</li>
<li>	2086	9/2/2016 06:30:29	9/2/2016 07:05:15	Division St & Bowery	26488	</li>
<li>	1650	9/1/2016 12:10:42	9/1/2016 12:38:12	E 11 St & 1 Ave	15648	</li>
<li>	1208	9/2/2016 13:29:11	9/2/2016 13:49:20	E 11 St & 2 Ave	26921	</li>
<li>	610	9/1/2016 13:59:17	9/1/2016 14:09:27	E 12 St & 3 Ave	25162	</li>
<li>	885	9/2/2016 10:51:43	9/2/2016 11:06:28	E 14 St & Avenue B	15337	</li>
<li>	929	9/1/2016 18:51:59	9/1/2016 19:07:28	E 17 St & Broadway	17231	</li>
<li>	1027	9/2/2016 11:15:21	9/2/2016 11:32:28	E 17 St & Broadway	22953	</li>
<li>	801	9/1/2016 11:20:58	9/1/2016 11:34:20	E 2 St & Avenue B	15631	</li>
<li>	13401	9/1/2016 18:31:28	9/1/2016 22:14:49	E 2 St & Avenue B	25994	</li>
<li>	648	9/1/2016 22:40:42	9/1/2016 22:51:31	E 2 St & Avenue B	23430	</li>
<li>	592	9/2/2016 09:26:42	9/2/2016 09:36:35	E 2 St & Avenue C	15164	</li>
<li>	929	9/1/2016 13:05:09	9/1/2016 13:20:39	E 25 St & 2 Ave	20847	</li>
<li>	965	9/2/2016 12:08:20	9/2/2016 12:24:25	E 25 St & 2 Ave	21286	</li>
<li>	963	9/1/2016 20:33:00	9/1/2016 20:49:03	E 30 St & Park Ave S	26905	</li>
<li>	1744	9/2/2016 13:41:45	9/2/2016 14:10:50	E 31 St & 3 Ave	23682	</li>
<li>	1225	9/1/2016 12:27:21	9/1/2016 12:47:46	E 32 St & Park Ave	22090	</li>
<li>	1527	9/1/2016 12:14:26	9/1/2016 12:39:53	E 33 St & 2 Ave	25212	</li>
<li>	1155	9/1/2016 16:07:38	9/1/2016 16:26:54	E 33 St & 5 Ave	17811	</li>
<li>	754	9/2/2016 09:33:02	9/2/2016 09:45:36	E 5 St & Avenue C	17518	</li>
<li>	606	9/2/2016 11:34:07	9/2/2016 11:44:14	E 5 St & Avenue C	26332	</li>
<li>	478	9/1/2016 12:26:11	9/1/2016 12:34:10	Elizabeth St & Hester St	16900	</li>
<li>	422	9/1/2016 18:03:11	9/1/2016 18:10:13	Elizabeth St & Hester St	21505	</li>
<li>	390	9/2/2016 11:04:48	9/2/2016 11:11:18	Elizabeth St & Hester St	14551	</li>
<li>	291	9/2/2016 13:00:37	9/2/2016 13:05:28	Elizabeth St & Hester St	26952	</li>
<li>	173	9/2/2016 09:01:50	9/2/2016 09:04:44	Forsyth St & Canal St	23931	</li>
<li>	173	9/2/2016 11:26:24	9/2/2016 11:29:17	Forsyth St & Canal St	15619	</li>
<li>	1265	9/1/2016 18:12:48	9/1/2016 18:33:53	Franklin St & Dupont St	22285	</li>
<li>	607	9/1/2016 16:00:49	9/1/2016 16:10:57	Fulton St & Broadway	22707	</li>
<li>	484	9/1/2016 19:18:20	9/1/2016 19:26:24	Great Jones St	25885	</li>
<li>	406	9/1/2016 08:37:03	9/1/2016 08:43:50	Henry St & Grand St	25186	</li>
<li>	414	9/1/2016 11:11:55	9/1/2016 11:18:49	Henry St & Grand St	24166	</li>
<li>	448	9/1/2016 11:39:29	9/1/2016 11:46:57	Henry St & Grand St	20900	</li>
<li>	442	9/2/2016 10:28:29	9/2/2016 10:35:51	Henry St & Grand St	26692	</li>
<li>	730	9/1/2016 15:13:15	9/1/2016 15:25:26	John St & William St	15968	</li>
<li>	1315	9/2/2016 12:39:59	9/2/2016 13:01:54	Kent Ave & N 7 St	14915	</li>
<li>	1253	9/2/2016 12:28:54	9/2/2016 12:49:48	Kent Ave & S 11 St	25218	</li>
<li>	362	9/1/2016 21:40:33	9/1/2016 21:46:36	Leonard St & Church St	18330	</li>
<li>	464	9/1/2016 12:55:49	9/1/2016 13:03:34	Liberty St & Broadway	25568	</li>
<li>	448	9/1/2016 10:36:13	9/1/2016 10:43:42	Lispenard St & Broadway	19339	</li>
<li>	344	9/1/2016 11:05:16	9/1/2016 11:11:01	Lispenard St & Broadway	23838	</li>
<li>	929	9/2/2016 00:33:51	9/2/2016 00:49:21	MacDougal St & Washington Sq	21468	</li>
<li>	909	9/2/2016 00:34:11	9/2/2016 00:49:20	MacDougal St & Washington Sq	20913	</li>
<li>	460	9/1/2016 09:04:42	9/1/2016 09:12:23	Madison St & Clinton St	22959	</li>
<li>	317	9/1/2016 11:34:32	9/1/2016 11:39:49	Madison St & Clinton St	25051	</li>
<li>	317	9/1/2016 11:34:36	9/1/2016 11:39:54	Madison St & Clinton St	25789	</li>
<li>	387	9/1/2016 17:23:56	9/1/2016 17:30:24	Madison St & Clinton St	25515	</li>
<li>	380	9/1/2016 17:24:04	9/1/2016 17:30:25	Madison St & Clinton St	26745	</li>
<li>	409	9/1/2016 10:51:46	9/1/2016 10:58:36	Madison St & Montgomery St	18705	</li>
<li>	368	9/1/2016 11:07:10	9/1/2016 11:13:18	Madison St & Montgomery St	26574	</li>
<li>	476	9/2/2016 08:20:24	9/2/2016 08:28:20	Madison St & Montgomery St	26560	</li>
<li>	484	9/2/2016 08:42:46	9/2/2016 08:50:51	Madison St & Montgomery St	26644	</li>
<li>	311	9/2/2016 10:30:46	9/2/2016 10:35:57	Madison St & Montgomery St	26807	</li>
<li>	189	9/2/2016 08:13:17	9/2/2016 08:16:27	Market St & Cherry St	26091	</li>
<li>	308	9/2/2016 10:16:31	9/2/2016 10:21:39	Mott St & Prince St	25345	</li>
<li>	637	9/1/2016 12:59:22	9/1/2016 13:09:59	Murray St & West St	22614	</li>
<li>	302	9/1/2016 00:43:24	9/1/2016 00:48:26	Norfolk St & Broome St	23106	</li>
<li>	276	9/2/2016 13:33:40	9/2/2016 13:38:16	Norfolk St & Broome St	17936	</li>
<li>	487	9/2/2016 14:26:22	9/2/2016 14:34:30	Pearl St & Hanover Square	23056	</li>
<li>	136	9/2/2016 09:13:50	9/2/2016 09:16:06	Pike St & E Broadway	17280	</li>
<li>	1005	9/2/2016 10:32:32	9/2/2016 10:49:18	Pike St & E Broadway	20828	</li>
<li>	109	9/2/2016 14:33:05	9/2/2016 14:34:55	Pike St & E Broadway	22796	</li>
<li>	202	9/2/2016 07:55:51	9/2/2016 07:59:13	Pike St & Monroe St	25112	</li>
<li>	262	9/2/2016 12:30:09	9/2/2016 12:34:32	Pike St & Monroe St	18969	</li>
<li>	618	9/2/2016 11:11:28	9/2/2016 11:21:46	Rivington St & Ridge St	16190	</li>
<li>	663	9/2/2016 13:29:00	9/2/2016 13:40:03	South End Ave & Liberty St	26326	</li>
<li>	478	9/1/2016 19:12:03	9/1/2016 19:20:02	South St & Gouverneur Ln	17766	</li>
<li>	564	9/2/2016 08:41:53	9/2/2016 08:51:17	South St & Gouverneur Ln	18397	</li>
<li>	839	9/2/2016 09:58:46	9/2/2016 10:12:45	South St & Gouverneur Ln	25091	</li>
<li>	870	9/1/2016 08:34:58	9/1/2016 08:49:29	South St & Whitehall St	25304	</li>
<li>	686	9/1/2016 18:38:24	9/1/2016 18:49:50	South St & Whitehall St	23054	</li>
<li>	374	9/2/2016 12:51:22	9/2/2016 12:57:36	Spruce St & Nassau St	16651	</li>
<li>	1236	9/1/2016 18:08:21	9/1/2016 18:28:58	St James Pl & Oliver St	15436	</li>
<li>	519	9/2/2016 10:48:15	9/2/2016 10:56:54	St Marks Pl & 2 Ave	23848	</li>
<li>	1098	9/1/2016 19:29:09	9/1/2016 19:47:28	State St & Smith St	26763	</li>
<li>	1419	9/2/2016 08:40:43	9/2/2016 09:04:22	W 33 St & 7 Ave	21437	</li>
<li>	646	9/1/2016 08:10:39	9/1/2016 08:21:25	York St & Jay St	26521	</li>
<li>	749	9/1/2016 11:39:11	9/1/2016 11:51:40	York St & Jay St	25969	</li>
  </ul>
</pre>
{{/ifCond}}



<div id="chart_div" style="width: 900px; height: 500px;"></div>
